* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --purple: #562e81;
  --highlight: #ddc2faa3;
  --size: 18px;
}

/* in nav bar  */
#highScoreBtn {
  color: var(--purple);
  border: none;
  font-size: var(--size);
  background-color: transparent;
}
nav #interval {
  display: inline;
  float: right;
  font-size: var(--size);
  padding: 5px;
}
/* end of nav bar  */

.quizContainter {
  width: 75%;
}

#homepage {
  text-align: center;
}

h1,
h2 {
  font-size: 34px;
  padding: 5px 5px 15px 5px;
  margin-top: 40px;
}

p {
  font-size: var(--size);
  margin: 5px;
}

/* buttons  */
button {
  background-color: var(--purple);
  color: white;
  font-size: var(--size);
  border-radius: 6px;
  padding: 8px;
  opacity: 100%;
  border: none;
}
button:hover {
  opacity: 75%;
}
#buttonContainer {
  padding: 20px;
}
#startBtn {
  margin: 15px;
}
.optionBtn {
  text-align: left;
  margin: 2px;
}
#backBtn,
#clearBtn {
  margin: 5px;
}
/* end of buttons  */

#quiz,
#resultsPage,
#scoresPage {
  display: none;
  margin-left: 15%;
  margin-right: 15%;
}

#initialsInput {
  max-width: 250px;
  padding: 5px;
}

#scoresList {
  width: fit-content;
  font-weight: bold;
  margin-left: 20px;
  width: 75%;
}

li {
  background-color: var(--highlight);
  margin: 5px;

  font-size: var(--size);
  font-weight: lighter;
  padding-left: 5px;
}

#result {
  color: gray;
  font-style: italic;
  display: none;
  border-top: 3px solid gray;
  margin-top: 10px;
  padding-top: 10px;
}
